
/* button */
.button {
  padding: 4px 16px;
  border-radius: 5px;
  min-width: 64px;
  height: 36px;
  font-size: 12px;
  
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px -1px black;
  -moz-box-shadow: 0 1px 2px -1px black;
  box-shadow: 0 1px 2px -1px black;
}

.link {
  border: none;
  background: transparent;
  color: var(--secondary-color);
  box-shadow: none;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
  color: var(--secondary-color-dark);
}

.link:focus {
  color: var(--secondary-color-dark);
}

.link:active {
  color: var(--secondary-color-dark);
}

.btnPrimary {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
}

.btnPrimary:hover {
  background-color: var(--primary-color-light);
}

.btnPrimary:focus {
  background-color: var(--primary-color-light);
}

.btnPrimary:active {
  background-color: var(--primary-color-dark);
}

.btnSecondary {
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  border: none;
}

.btnSecondary:hover {
  background-color: var(--secondary-color-light);
}

.btnSecondary:focus {
  background-color: var(--secondary-color-light);
}

.btnSecondary:active {
  background-color: var(--secondary-color-dark);
}

.btnOutline {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}

.btnOutline:hover {
  background-color: var(--secondary-color-light);
  color: var(--secondary-color);
}

.btnOutline:focus {
  background-color: var(--secondary-color-light);
  color: var(--secondary-color);
}

.disabled {
  background-color: var(--disabled);
  color: var(--text-disabled);
}
