
.content-list-tarefa {
  overflow: auto;
  height: 300px;
}

.cell {
  display: flex;
  padding: 8px 12px;
  border: 1px solid var(--secondary-color);
  justify-content: space-between;
  align-items: center;
}


.total {
  background-color: #FAE4E7;
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 500;
  padding: 12px 4px;
  margin: 8px 0px;
}


.blank {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.check {
  width: 24px;
  height: 24px;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
}

.check:checked {
  color: var(--secondary-color);
  border-color: hsl(0, 0%, 40%);
}

.check:focus:hover {
  box-shadow: 0 0 0 3px hsl(0, 0%, 85%);
  border-color: hsl(0, 0%, 40%);
}

.item-1 {
  display: flex;
  position: relative;
  align-items: center;
}

.item-1 label {
  color: '#000000';
  font-weight: 600;
  font-size: 12px;
}

.item-2 {
  display: flex;
  position: relative;
}




