
.App {
  height: 100vh;
  padding: 16px 24px;
}

.themeLight {

  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #da486d, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #da486d, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.themeDark {
  background: linear-gradient(0deg, rgba(100,44,71,1) 12%, rgba(15,32,39,1) 53%);
}

.contentTaskTimer {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.tasks {
  margin-right: 60px;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .App {
    padding: 16px 18px;
  }
  .contentTaskTimer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tasks {
    margin-right: 0px;
  }
}

/* tablet  */
@media only screen and (min-width: 490px) and (max-width: 768px) {
  .App {
    padding: 16px 18px;
  }
  .contentTaskTimer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tasks {
    margin-right: 0px;
  }
}




