
.alert {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: 2px solid;
  position: absolute;
  top: 0;
  z-index: 1000;
  right: 30%;
}

.alert:active {
  top: 12px
}

.alert div {
  display: flex;
  align-items: center;
}

.alert div strong {
  margin-right: 4px;
}

.icon {
  margin-right: 8px;
}

.alert button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.alert button svg {
  font-size: 22px;
}

.success {
  color: #0ad406;
  background-color: #f6fff8;
}

.success svg {
  color: #0ad406;
}

.info {
  color: #0396ff;
  background-color: rgb(243 249 255 / 22%);
}

.info svg {
  color: #0396ff;
}

.warning {
  color: #ffb103;
  background-color: #f6fff8;
}

.warning svg {
  color: #ffb103;
}

.danger {
  color: #b60600;
  background-color: #f6fff8;
}

.danger svg {
  color: #b60600;
}

.well {
  color: #03d0ff;
  background-color: #f6fff8;
}

.well svg {
  color: #03d0ff;
}
