
.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0px;
  color: var(--text-color-white-light);
}

.header h5 {
  color: var(--text-color-white-light);
  margin: 0px;
}

.headerActions {
  display: flex;
}

@media only screen and (max-width: 600px){
  .headerContent {
    flex-direction: column;
  }
  .headerActions {
    margin-top: 10px;
  }
}