h2, p {
  margin: 0px;
}

.header p {
  color: var(--text-color-gray);
}

.header {
  margin-bottom: 36px;
}

.addtasks {
  display: flex;
  justify-content: flex-end;
}

h2, p {
  margin: 0px;
}

.header p {
  color: var(--text-color-gray);
  font-size: 11px;
}

.header {
  margin-bottom: 18px;
}
.header h4 {
  margin: 0px;
}

.content-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listaTasks {
  
}