
html, body {
  height: 100%;
}

.App {
  height: 100%;
  padding: 16px 60px;
}

.themeLight {
  background: linear-gradient(0deg, rgba(248,156,92,1) 5%, rgba(210,11,84,1) 50%);
}

.themeDark {
  background: linear-gradient(0deg, rgba(210,11,84,1) 12%, rgba(0,0,0,1) 53%);
}

.actionThemeContent {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px){
  .App {
    padding: 16px 18px;
  }
}



