
.App {
  height: 100vh;
  padding: 16px 24px;
}

.themeLight {
  background: linear-gradient(90deg, rgba(242,112,156,1) 12%, rgba(255,148,114,1) 53%);
}

.themeDark {
  background: linear-gradient(0deg, rgba(100,44,71,1) 12%, rgba(15,32,39,1) 53%);
}

.actionThemeContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contentTaskTimer {
  display: flex;
}
.contentTaskTimer:first-child {
  margin-right: 12px;
}

.titlePomodoro {
  margin: 0px;
  font-size: 24px;
  color: var(--text-color-white-light);
}

@media only screen and (max-width: 600px){
  .App {
    padding: 16px 18px;
  }
  .contentTaskTimer {
    flex-direction: column;
  }
}



