body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color:#5200FF;
  --primary-color-light: #4d12efa8;
  --primary-color-dark: #5F13FF;

  --secondary-color:#D81B60;
  --secondary-color-light: #F5C5CC;
  --secondary-color-dark: #A00037;

  --text-color-white-light: #F5C5CC;
  --text-color-white: #ffff;
  --text-color-pink: #D81B60;
  --text-color-pink-light: #FF5C8D;
  --text-color-gray: #a09e9e;

  --bg-white: #fff;
  

  --disabled: #E5E5E5;
  --text-disabled: #727272;
 }
