h2, p {
  margin: 0px;
}

.header p {
  color: var(--text-color-gray);
  font-size: 11px;
}

.header {
  margin-bottom: 18px;
}
.header h4 {
  margin: 0px;
}

.header p {
  font-size: 10px;
}

.addtasks {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.listaTasks {
  
}